<!DOCTYPE html>
<html>
  <head>
    <title>Kissy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Sansita+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">

  </head>

  <body>

    <nav>
      <button id='logo'><%= link_to 'Kissy', root_path %></button>

      <p>Welcome, baby!</p>

      <button id='categories'><%= link_to 'Categories', categories_path %></button>
    </nav>

    <h1 class="big_kiss">KISSY</h1>

    <div class="yield">
      <%= yield %>
    </div>

  </body>
</html>
