<!DOCTYPE html>
<html>
  <head>
    <title>Kissy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Sansita+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">

  </head>

  <body>

    <nav>
      <div id="logo">
        <a href="/">
          <img class="lips3" src="http://66.media.tumblr.com/25a4214733ebd8d62dba20e8bbbce0c3/tumblr_mk19vsmgYs1rkfhmbo1_500.png">
          <h1>Kissy</h1>
        </a>
      </div>

      <button id='categories'><%= link_to 'Categories', categories_path %></button>
      <img class="lips2" src="http://66.media.tumblr.com/25a4214733ebd8d62dba20e8bbbce0c3/tumblr_mk19vsmgYs1rkfhmbo1_500.png">
    </nav>

    <h1 class="big_kiss">KISSY</h1>
    <div class="yield">
      <img class="lips1" src="http://66.media.tumblr.com/25a4214733ebd8d62dba20e8bbbce0c3/tumblr_mk19vsmgYs1rkfhmbo1_500.png">
      <%= yield %>
    </div>

  </body>
</html>
